{% extends 'temp_2.html' %}

{% block title %}
	About
{% endblock %}

{% block content %}
    <div class="flex justify-center mt-[20px]">
        <div class="p-5 mb-10 max-w-6xl mx-auto">


            <h1 class="text-5xl font-bold text-green-900">About EduScore</h1>

            <div class="mt-6">
                <h2 class="text-3xl font-bold text-green-900 mb-1">About EduScore</h2>
                <div class="text-lg leading-relaxed">
                    Bro ipsum dolor sit amet couloir laps pipe free ride, BB booter gorby wheels ride. Crunchy shuttle washboard back country sucker hole berm wack bro backside. Stomp shred brain bucket dope face plant avie tele bowl ollie face plant booter park rat. Skinny manny death cookies face plant freshies gapers lid shred park clipless. Park huck first tracks fatty, pinner death cookies clean. Smear T-bar clean back country death cookies ride noodle. Roadie rip sharkbite, rock-ectomy liftie scream freshies.
                </div>
            </div>


            <div class="mt-6">
                <h2 class="text-3xl font-bold text-green-900 mb-3">Our Team</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-1.5">


                    <div class="flex flex-col bg-gray-200 p-4 rounded-lg shadow-lg">
                        <img class="w-38 h-38 rounded-full mb-4" src="https://via.placeholder.com/150">
{#                        <h3 class="text-xl text-green-900 font-bold text-left">Name</h3>#}
                        <div class="text-lg font-bold text-green-800 text-left mb-0.5">Eric Delos Reyes</div>
{#                        <div class="text-green-900 font-semibold text-left">Position</div>#}
                        <div class="text-sm text-green-800 text-left">Backend Developer</div>
                    </div>

                    <div class="flex flex-col bg-gray-200 p-4 rounded-lg shadow-lg">
                        <img class="w-38 h-38 rounded-full mb-4" src="https://via.placeholder.com/150">
{#                        <h3 class="text-xl text-green-900 font-bold text-left">Name</h3>#}
                        <div class="text-lg font-bold text-green-800 text-left mb-0.5">Gabo Florendo</div>
{#                        <div class="text-green-900 font-semibold text-left">Position</div>#}
                        <div class="text-sm text-green-800 text-left">UI Designer/Frontend</div>
                    </div>

                    <div class="flex flex-col bg-gray-200 p-4 rounded-lg shadow-lg">
                        <img class="w-38 h-38 rounded-full mb-4" src="https://via.placeholder.com/150">
{#                        <h3 class="text-xl text-green-900 font-bold text-left">Name</h3>#}
                        <div class="text-lg font-bold text-green-800 text-left mb-0.5">Paul Bryan German</div>
{#                        <div class="text-green-900 font-semibold text-left">Position</div>#}
                        <div class="text-sm text-green-800 text-left">Frontend Developer/QA</div>
                    </div>

                    <div class="flex flex-col bg-gray-200 p-4 rounded-lg shadow-lg">
                        <img class="w-38 h-38 rounded-full mb-4" src="https://via.placeholder.com/150">
{#                        <h3 class="text-xl text-green-900 font-bold text-left">Name</h3>#}
                        <div class="text-lg font-bold text-green-800 text-left mb-0.5">John Terence Morales</div>
{#                        <div class="text-green-900 font-semibold text-left">Position</div>#}
                        <div class="text-sm text-green-800 text-left">Frontend Developer</div>
                    </div>

                    <div class="flex flex-col bg-gray-200 p-4 rounded-lg shadow-lg">
                        <img class="w-38 h-38 rounded-full mb-4" src="https://via.placeholder.com/150">
{#                        <h3 class="text-xl text-green-900 font-bold text-left">Name</h3>#}
                        <div class="text-lg font-bold text-green-800 text-left mb-0.5">Robin Nathan Ongjuco Ng</div>
{#                        <div class="text-green-900 font-semibold text-left">Position</div>#}
                        <div class="text-sm text-green-800 text-left">Documentation</div>
                    </div>

                    <div class="flex flex-col bg-gray-200 p-4 rounded-lg shadow-lg">
                        <img class="w-38 h-38 rounded-full mb-4" src="https://via.placeholder.com/150">
{#                        <h3 class="text-xl text-green-900 font-bold text-left">Name</h3>#}
                        <div class="text-lg font-bold text-green-800 text-left mb-0.5">Juan Ito Sumulong</div>
{#                        <div class="text-green-900 font-semibold text-left">Position</div>#}
                        <div class="text-sm text-green-800 text-left">Project Manager</div>
                    </div>

                </div>
            </div>


{#            <div class="text-center mt-12">#}
{#                <h2 class="text-xl font-semibold">Members</h2>#}
{#                <div class="grid grid-cols-6 gap-2 mt-5">#}
{#                    <div class="flex flex-col items-center">#}
{#                        <div class="w-24 h-24 bg-gray-200 box-border rounded"></div>#}
{#                        <div class="mt-2 font-semibold">Delos Reyes, Eric</div>#}
{#                        <div class="text-sm">Back-End Developer</div>#}
{#                    </div>#}
{#                    <div class="flex flex-col items-center">#}
{#                        <div class="w-24 h-24 bg-gray-200 box-border rounded"></div>#}
{#                        <div class="mt-2 font-semibold">Florendo, Gabo</div>#}
{#                        <div class="text-sm">Web Designer</div>#}
{#                    </div>#}
{#                    <div class="flex flex-col items-center">#}
{#                        <div class="w-24 h-24 bg-gray-200 box-border rounded"></div>#}
{#                        <div class="mt-2 font-semibold">German, Paul Bryan</div>#}
{#                        <div class="text-sm">Front-End Developer, QA</div>#}
{#                    </div>#}
{#                    <div class="flex flex-col items-center">#}
{#                        <div class="w-24 h-24 bg-gray-200 box-border rounded"></div>#}
{#                        <div class="mt-2 font-semibold">Morales, John Terence</div>#}
{#                        <div class="text-sm">Front-End Developer</div>#}
{#                    </div>#}
{#                    <div class="flex flex-col items-center">#}
{#                        <div class="w-24 h-24 bg-gray-200 box-border rounded"></div>#}
{#                        <div class="mt-2 font-semibold">Ng, Robin Nathan Ongjuco</div>#}
{#                        <div class="text-sm">Documentation</div>#}
{#                    </div>#}
{#                    <div class="flex flex-col items-center">#}
{#                        <div class="w-24 h-24 bg-gray-200 box-border rounded"></div>#}
{#                        <div class="mt-2 font-semibold">Sumulong, Juan Ito</div>#}
{#                        <div class="text-sm">Project Manager</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>


{% endblock %}
