{% extends 'temp_2.html' %}

{% block title %}
    Teacher: {{ t.LastName }}
{% endblock %}

{% block content %}
    <div class="mt-5 flex justify-center">
        <div class="p-10 w-full max-w-5xl">
            <div class="grid grid-cols-6 gap-4 w-full">
                <div class="col-span-5 flex flex-col">
                    <div class="">
                        <div>
                            <h1 class="text-6xl font-bold text-green-900 mb-2">Rate Your Prof</h1>
                        </div>
                    </div>
                    <div class="grid grid-cols-6 mt-5">

                        <div class="mb-2 col-span-3">
                            <b>FACULTY NAME:</b> <span class="ml-2">{{ t.FirstName }} {{ t.LastName }}</span>
                        </div>
                        <div class="col-span-2 flex">
                            <b>GENDER:</b> <span class="ml-2">{{ t.Gender }}</span>
                        </div>
                    </div>
                    <div class="grid grid-cols-6">
                        <div class="mb-2 col-span-3">
                            <b>DEPARTMENT:</b> <span class="ml-2">{{ t.Department }}</span>
                        </div>
                        <div class="col-span-2 flex">
                            <b>STATUS:</b> <span class="ml-2">{{ t.EmpStatus }}</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end items-start">
                    <img src="https://via.placeholder.com/150" class="w-36 h-36 rounded mt-2" alt="Placeholder Image">
                </div>
            </div>


            <div class="mt-[80px]">
                <div class="p-8 bg-gray-50 rounded-md border shadow-lg">
                    <div class="flex justify-center">
                        <h1 class="text-4xl font-bold text-green-900 mb-2">Evaluate</h1>
                    </div>
                    <div>
                        {% if forms.errors %}
                            <div class="bg-red-700 text-white">
                                {{ forms.errors }}
                            </div>
                        {% endif %}
                        <form action="{% url 'EvaluateTeacher' t.pk %}" method="POST" class="space-y-3 mt-5">
                            {% csrf_token %}
                            <input type="number" name="UserID" value="{{ user.id }}" class="hidden">
                            <input type="number" name="TeacherID" value="{{ t.id }}" class="hidden">

                            {# 1. Course Taught #}
                            <div class="flex justify-between">
                                <label for="CourseID">1. &nbsp&nbsp Course Taught: </label>
                                <select class="buttonDropdown border ml-20 w-56" id="CourseID" name="CourseID" required>
                                  {% for item in TC %}
                                    <option value="{{ item.CourseID.id }}" {% if item.CourseID.id == CourseID %} selected {% endif %}>{{ item.CourseID.CourseName }}</option>
                                  {% endfor %}
                                </select>
                            </div>

                            {# 2. Year Taught #}
                            <div class="flex justify-between bg-green-100">
                                <label for="Year">2. &nbsp&nbsp Year Taught: </label>
                                <select class="buttonDropdown border bg-green-100 w-56" id="Year" name="Year" required>
                                    <option value="1st Year" class="bg-white" {% if Year == "1st Year" %} selected {% endif %}>1st Year</option>
                                    <option value="2nd Year" class="bg-white" {% if Year == "2nd Year" %} selected {% endif %}>2nd Year</option>
                                    <option value="3rd Year" class="bg-white" {% if Year == "3rd Year" %} selected {% endif %}>3rd Year</option>
                                    <option value="4th Year" class="bg-white" {% if Year == "4th Year" %} selected {% endif %}>4th Year</option>
                                    <option value="MRP" class="bg-white" {% if Year == "MRP" %} selected {% endif %}>MRP</option>
                                </select>
                            </div>

                            {# 3. Term Taught #}
                            <div class="flex justify-between">
                                <label for="Term">3. &nbsp&nbsp Term Taught: </label>
                                <select class="buttonDropdown border w-56" id="Term" name="Term" required>
                                    <option value="1" {% if Term == "1" %} selected {% endif %}>1st Term</option>
                                    <option value="2" {% if Term == "2" %} selected {% endif %}>2nd Term</option>
                                    <option value="3" {% if Term == "3" %} selected {% endif %}>3rd Term</option>
                                </select>
                            </div>

                            {# 4. Class Modality #}
                            <div class="flex justify-between bg-green-100">
                                <label for="ClassModality">4. &nbsp&nbsp Class Modality: </label>
                                <select class="buttonDropdown border bg-green-100 w-56" id="ClassModality" name="ClassModality" required>
                                    <option value="Online" class="bg-white" {% if ClassModality == "Online" %} selected {% endif %}>Online</option>
                                    <option value="F2F" class="bg-white" {% if ClassModality == "F2F" %} selected {% endif %}>F2F</option>
                                    <option value="Hybrid" class="bg-white" {% if ClassModality == "Hybrid" %} selected {% endif %}>Hybrid</option>
                                </select>
                            </div>

                            {# 5. Overall Prof Rate #}
                            <div class="flex justify-between">
                                <label for="OverallProfRate">5. &nbsp&nbsp Overall Prof Rate</label>
                                <div class="relative"> {# relative lowers the number thingy #}

                                    {# input slider #}
                                    <input type="range" min="0" step="0.5" max="4" value="{{ OverallProfRate }}"
                                           class="slider w-56" id="OverallProfRate" name="OverallProfRate" data-value-id="sliderValueOverallProfRate" required>

                                    {# slider number #}
                                    <span id="sliderValueOverallProfRate" class="absolute top-0 left-0 -mt-8 text-xs bg-gray-700 text-white px-2 py-1 rounded opacity-0 transition-opacity duration-300"></span>
                                </div>
                            </div>

                            {# 6. Prof Difficulty #}
                            <div class="flex justify-between bg-green-100">
                                <label for="ProfDifficulty">6. &nbsp&nbsp Prof Difficulty</label>
                                <div class="relative"> {# relative lowers the number thingy #}

                                    {# input slider #}
                                    <input type="range" min="0" step="0.5" max="4" value="{{ ProfDifficulty }}"
                                           class="slider w-56" name="ProfDifficulty" data-value-id="sliderValueProfDifficulty" required>

                                    {# slider number #}
                                    <span id="sliderValueProfDifficulty" class="absolute top-0 left-0 -mt-8 text-xs bg-gray-700 text-white px-2 py-1 rounded opacity-0 transition-opacity duration-300"></span>
                                </div>
                            </div>


                            {# 7. Retake Prof #}
                            <div class="flex justify-between">
                                <label for="RetakeProf">7. &nbsp&nbsp Retake Prof: </label>
                                <select class="buttonDropdown border w-56" id="RetakeProf" name="RetakeProf" required>
                                    <option value="True" {% if RetakeProf == "True" %} selected {% endif %}>Yes</option>
                                    <option value="False" {% if RetakeProf == "False" %} selected {% endif %}>No</option>
                                </select>
                            </div>

                            {# 8. Prof Difficulty #}
                            <div class="flex justify-between bg-green-100">
                                <label for="ProfDifficulty">6. &nbsp&nbsp BigSky Usage Rate</label>
                                <div class="relative"> {# relative lowers the number thingy #}

                                    {# input slider #}
                                    <input type="range" min="0" step="0.5" max="4" value="{{ BigSkyUsageRate }}"
                                           class="slider w-56" name="BigSkyUsageRate" data-value-id="sliderValueBigSkyUsageRate" required>

                                    {# slider number #}
                                    <span id="sliderValueBigSkyUsageRate" class="absolute top-0 left-0 -mt-8 text-xs bg-gray-700 text-white px-2 py-1 rounded opacity-0 transition-opacity duration-300"></span>
                                </div>
                            </div>

                            {# 9. Prof Attendance #}
                            <div class="flex justify-between">
                                <label for="ProfAttendance">6. &nbsp&nbsp Prof Attendance</label>
                                <div class="relative"> {# relative lowers the number thingy #}

                                    {# input slider #}
                                    <input type="range" min="0" step="0.5" max="4" value="{{ ProfDifficulty }}"
                                           class="slider w-56" name="ProfAttendance" data-value-id="sliderValueProfAttendance" required>

                                    {# slider number #}
                                    <span id="sliderValueProfAttendance" class="absolute top-0 left-0 -mt-8 text-xs bg-gray-700 text-white px-2 py-1 rounded opacity-0 transition-opacity duration-300"></span>
                                </div>
                            </div>

                            {# 10. Grade Received #}
                            <div class="flex justify-between bg-green-100">
                                <label for="GradeReceived">10. &nbsp Grade Received: </label>
                                <select class="buttonDropdown border bg-green-100 w-56" id="GradeReceived" name="GradeReceived" required>
                                    <option value="4.0" class="bg-white" {% if GradeReceived == "4.0" %} selected {% endif %}>4.0</option>
                                    <option value="3.5" class="bg-white" {% if GradeReceived == "3.5" %} selected {% endif %}>3.5</option>
                                    <option value="3.0" class="bg-white" {% if GradeReceived == "3.0" %} selected {% endif %}>3.0</option>
                                    <option value="2.5" class="bg-white" {% if GradeReceived == "2.5" %} selected {% endif %}>2.5</option>
                                    <option value="2.0" class="bg-white" {% if GradeReceived == "2.0" %} selected {% endif %}>2.0</option>
                                    <option value="1.5" class="bg-white" {% if GradeReceived == "1.5" %} selected {% endif %}>1.5</option>
                                    <option value="1.0" class="bg-white" {% if GradeReceived == "1.0" %} selected {% endif %}>1.0</option>
                                    <option value="0.0" class="bg-white" {% if GradeReceived == "0.0" %} selected {% endif %}>0.0</option>
                                </select>
                            </div>

                            <div class="flex justify-center">
                                <a href="#" class="buttonBlack text-center px-8 py-2 mt-5 mx-2" id="cancelButton">Cancel</a>
                                <button class="buttonGreen text-white px-8 py-2 rounded-xl mt-5 mx-2" id="submitButton">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# SUBMIT MODAL #}
    <div id="submitModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <div class="bg-white p-5 rounded-lg shadow-lg text-center relative pop-up">
            <h1 class="text-3xl mb-2 font-bold">Submit</h1>
            <p class="mb-4">Are you sure you want to submit?</p>
            <a id="submitConfirmBtn" class="buttonModal mb-2 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-800 hover:cursor-pointer">Submit</a>
            <a onclick="closeSubmitModal()" class="buttonModal bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 hover:cursor-pointer ml-1">Cancel</a>
        </div>
    </div>


    {# CANCEL MODAL #}
    <div id="cancelModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <div class="bg-white p-5 rounded-lg shadow-lg text-center relative pop-up">
            <h1 class="text-3xl mb-2 font-bold">Cancel</h1>
            <p class="mb-4">Are you sure you want to cancel?</p>
            <a id="cancelConfirmBtn" href="{% url 'TeacherInfo' t.id %}" class="buttonModal mb-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Confirm</a>
            <a onclick="closeCancelModal()" class="buttonModal bg-gray-500 text-white px-5 py-2 rounded hover:bg-gray-700 hover:cursor-pointer ml-1">Close</a>
        </div>
    </div>

{% endblock %}