{% extends 'temp_1.html' %}

{% block title %}
	EduScore: Home
{% endblock %}

{% block content %}
	<div>
        <h1 class="flex justify-center">Landing Page</h1>
    </div>
    <div class="flex justify-centeru">
        <div class="mt-10 space-y-3">
            {% for teacher in PastTeacher %}
                <div class="bg-white">
                    <h2>{{ teacher.TeacherID.LastName }}, {{ teacher.TeacherID.FirstName }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
