{% extends 'temp_2.html' %}

{% block title %}
    Join Us!
{% endblock %}

{% block content %}
	<div class="flex justify-center mt-[100px]">
        <div class="p-10 bg-white rounded-md border shadow-md">
            <div class="flex justify-center">
                <h1 class="mt-">Register</h1>
            </div>
            <div>
                <form action="{% url 'registerUser' %}" method="POST" class="space-y-3">
                    {% csrf_token %}
                    {% if forms.errors %}
                        <div class="bg-red-700 text-white">
                            {{ forms.errors }}
                        </div>
                    {% endif %}
                    {% if exists is not None %}
                        <div class="bg-red-700 text-white">
                        {# shows when user already exists - an error #}
                            {{ exists }}
                        </div>
                    {% endif %}

                    <div class="flex justify-between">
                        <label for="firstname">First Name</label>
                        <input class="border pl-2 ml-4" type="text" value="{{ fname }}" name="first_name" id="firstname">
                    </div>
                    <div class="flex justify-between">
                        <label for="lastname">Last Name</label>
                        <input class="border pl-2 ml-4" type="text" value="{{ lname }}" name="last_name" id="lastname">
                    </div>

                    <div class="flex justify-between">
                        <label for="Department">Department</label>
                        <input class="border pl-2 ml-4" type="text" value="{{ dept }}" name="Department" id="Department" required>
                    </div>
                    <div class="flex justify-between">
                        <label for="BatchNumber">Batch Number</label>
                        <input class="border pl-2 ml-4" type="number" value="{{ batch }}" name="BatchNumber" id="BatchNumber" required>
                    </div>
                    <div class="flex justify-between">
                        <label for="Gender">Gender: </label>
                        <select class="border" id="Gender" name="Gender" required>
                          <option value="female" {% if gender == "female" %} selected {% endif %}>Female</option>
                          <option value="male" {% if gender == "male" %} selected {% endif %}>Male</option>
                          <option value="other" {% if gender == "other" %} selected {% endif %}>Other</option>
                          <option value="anonymous" {% if gender == "anonymous" %} selected {% endif %}>Prefer Not To Say</option>
                        </select>
                    </div>

                    <div class="flex justify-between">
                        <label for="username">Username</label>
                        <input class="border pl-2 ml-4" type="email" value="{{ uname }}" name="username" id="username" required>
                    </div>
                    <div class="flex justify-between">
                        <label for="password">Password</label>
                        <input class="border pl-2 ml-4" type="password" value="{{ pword }}" name="password" id="password" required>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-green-900 text-white px-4 py-2 rounded-xl" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
{% endblock %}
