{% extends 'temp_2.html' %}
{% load static %}

{% block title %}
	searchPage
{% endblock %}

{% block content %}

    <div class="flex justify-center mt-[130px]">
        <div class="container mx-auto text-center p-4">
            <div class="max-w-xl mx-auto">
{#                <div class="text-5xl font-bold mb-4 text-green-950">#}
{#                    Edu <i class="fas fa-check fa-lg fa-check-outline2 -ml-6"></i>#}
{#                </div>#}
                <div class="mb-2 flex items-center justify-center">
                    <img src="{% static 'images/Grey-Black_Logo.png' %}" class="max-w-32" alt="Edu">
                </div>
                <form method="POST" action="{% url 'SearchProf' %}" class="mb-4">
                    {% csrf_token %}
                    {% if forms.errors %}
                        <div class="bg-red-700 text-white">
                            {{ forms.errors }}
                        </div>
                    {% endif %}
                    <div class="flex items-center justify-center">
                        <label for="searchRec" class="hidden"></label>
                        <input type="text" id="searchRec" value="{{ search }}" name="searchRec"
                               placeholder="Enter professor's name"
                               class="searchBar w-full p-2 border border-gray-500 rounded-tl rounded-bl" required>
                        <label for="typeRec" hidden></label>
                        <select name="typeRec" id="typeRec" class="buttonGreen2 w-min p-2.5 outline-green-600 rounded-tr rounded-br" required>
                            <option value="FName" class="bg-green-700" {% if type == "FName" %} selected {% endif %}>First Name</option>
                            <option value="LName" class="bg-green-700" {% if type == "LName" %} selected {% endif %}>Last Name</option>
                            <option value="Subject" class="bg-green-700" {% if type == "Subject" %} selected {% endif %}>Subject</option>
                            <option value="School" class="bg-green-700" {% if type == "School" %} selected {% endif %}>School</option>
                        </select>
{#                        <button type="submit" class="ml-2 bg-black text-white px-4 py-2 rounded">Search</button>#}
                        <button type="submit" class="ml-3 buttonBlack2 px-4 py-2">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="mt-10 -space-y-2.5 max-w-xl w-full">
            {% if norecs == True %}
                <div class="bg-white profResultsGreenLight p-2 rounded mb-2 border border-gray-300">
                    <div class="text-center">
                        <p>No teacher/s found.</p>
                    </div>
                </div>
            {% else %}
                {% for teacher in SearchResults %}
    {#                <div class="{% cycle 'bg-green-100 profResultsGreen' 'bg-transparent profResultsWhite' %} p-2 rounded mb-2">#}
                    <div class="bg-white profResultsGreenLight p-2 rounded mb-2 border border-gray-300">
                        <div class="text-center">
                            <a href="{% url 'TeacherInfo' teacher.id %}">
                                {{ teacher.LastName }}, {{ teacher.FirstName }} | {{ teacher.Department }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

{#    <div class="flex justify-center">#}
{#        <div class="mt-10 space-y-3 shadow-md">#}
{#            {% for teacher in SearchResults %}#}
{#                <div class="bg-white">#}
{#                    <a href="{% url 'TeacherInfo' teacher.id %}">#}
{#                        {{ teacher.LastName }}, {{ teacher.FirstName }} | {{ teacher.Department }}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
