{% extends 'temp_2.html' %}

{% block title %}
	searchPage
{% endblock %}

{% block content %}

    <div class="flex justify-center mt-[130px]">
        <div class="container mx-auto text-center p-4">
            <div class="max-w-xl mx-auto">
                <div class="text-3xl font-bold mb-4">EduScore</div>
                <form method="POST" action="{% url 'SearchProf' %}" class="mb-4">
                    {% csrf_token %}
                    {% if forms.errors %}
                        <div class="bg-red-700 text-white">
                            {{ forms.errors }}
                        </div>
                    {% endif %}
                    <div class="flex items-center justify-center">
                        <label for="searchRec" class="hidden"></label>
                        <input type="text" id="searchRec" value="{{ search }}" name="searchRec"
                               placeholder="Enter professor's name"
                               class="w-full p-2 border border-gray-500 rounded-tl rounded-bl" required>
                        <label for="typeRec" hidden></label>
                        <select name="typeRec" id="typeRec" class="w-min p-2 border border-1.5 border-gray-500 font-bold bg-green-700 text-white rounded-tr rounded-br" required>
                            <option value="FName" {% if type == "FName" %} selected {% endif %}>First Name</option>
                            <option value="LName" {% if type == "LName" %} selected {% endif %}>Last Name</option>
                            <option value="Subject" {% if type == "Subject" %} selected {% endif %}>Subject</option>
                            <option value="School" {% if type == "School" %} selected {% endif %}>School</option>
                        </select>
{#                        <button type="submit" class="ml-2 bg-black text-white px-4 py-2 rounded">Search</button>#}
                        <button type="submit" class="ml-2 buttonBlack px-4 py-2">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="mt-10 space-y-3 shadow-md max-w-xl w-full">
            {% for teacher in SearchResults %}
                <div class="{% cycle 'bg-green-100' 'bg-transparent' %} p-2 rounded mb-2">
                    <div class="text-center">
                        <a href="{% url 'TeacherInfo' teacher.id %}">
                            {{ teacher.LastName }}, {{ teacher.FirstName }} | {{ teacher.Department }} {{ teacher. }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{#    <div class="flex justify-center">#}
{#        <div class="mt-10 space-y-3 shadow-md">#}
{#            {% for teacher in SearchResults %}#}
{#                <div class="bg-white">#}
{#                    <a href="{% url 'TeacherInfo' teacher.id %}">#}
{#                        {{ teacher.LastName }}, {{ teacher.FirstName }} | {{ teacher.Department }}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
