{% extends 'temp_2.html' %}

{% block title %}
	Teacher:
{% endblock %}

{% block content %}
    <div class="mt-5 flex justify-center">
        <div class="p-10 w-full max-w-5xl">
            <div class="grid grid-cols-6 gap-4 w-full">
                <div class="col-span-4 flex flex-col">
                    <div class="">
                        <div>
                            <h1 class="text-6xl font-bold text-green-900 mb-2">{{ prof.FirstName }} {{ prof.LastName }}</h1>
                        </div>
                    </div>
                    <div class="grid grid-cols-6 mt-5 mb-1">
                        <div class="flex col-span-3">
                            <b>GENDER:</b> <span class="ml-2">{{ prof.Gender }}</span>
                        </div>
                        <div class=" col-span-2 flex">
                            <b>STATUS:</b> <span class="ml-2">{{ prof.EmpStatus }}</span>
                        </div>
                    </div>
                    <div class="grid grid-cols-6">
                        <div class="mb-2 col-span-3">
                            <b>DEPARTMENT:</b> <span class="ml-2">{{ prof.Department }}</span>
                        </div>
                        <div class="col-span-3">
                            {% if Mark == False %}
                                <div>
                                    <a href="{% url 'AddBM' prof.id %}" class="text-[10px] text-center buttonBlue text-white px-8 py-2 x-2 rounded-xl x-2">Bookmark Me!</a>
                                </div>
                            {% else %}
                                <div>
                                    <a href="{% url 'DelBM' prof.id %}" class="text-[10px] buttonBlue text-white px-8 py-2 rounded-xl x-2">Remove Bookmark</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-span-2 flex justify-center mr-16">
                    <img src="https://via.placeholder.com/150" class="w-36 h-36 rounded mt-2" alt="Placeholder Image">
                </div>
            </div>
            <div class="space-y-2 mt-1.5">
                <div class="">Tags:</div>
                <div class="inline-grid grid-cols-4 gap-3">
                    {% for item in TopTagRecs %}
                        <div class="text-center text-xs bg-emerald-800 text-white font-semibold px-1 py-1 rounded-full shadow-md">
                            {{ item.TagID__TagName }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# STATS BOIIII #}
            <div class="grid grid-cols-6 mt-5">
                <div class="col-span-4">
                    <div class=" p-8 bg-gray-50 rounded-md border shadow-lg max-w-xl mb-8">
                        <div class="flex justify-center">
                            <h1 class="text-4xl font-bold text-green-900 mb-2">STATS</h1>
                        </div>

                        <!-- Difficulty -->
                        <div class="mb-2 flex justify-start items-center">
                            <b class="w-32 mt-5">DIFFICULTY:</b>
                            <span
                                    class="
                                            text-xs font-bold mt-5 px-1 py-1 rounded-sm
                                            {% if AllEvalRecs.Average_Difficulty < 1 %}bg-red-600 text-white
                                            {% elif AllEvalRecs.Average_Difficulty >= 1 and AllEvalRecs.Average_Difficulty < 2 %}bg-orange-500 text-white
                                            {% elif AllEvalRecs.Average_Difficulty >= 2 and AllEvalRecs.Average_Difficulty < 3 %}bg-yellow-500
                                            {% elif AllEvalRecs.Average_Difficulty >= 3 and AllEvalRecs.Average_Difficulty < 4 %}bg-green-300
                                            {% elif AllEvalRecs.Average_Difficulty >= 4 %}bg-emerald-700 text-white
                                            {% endif %}
                                    ">{{ AllEvalRecs.Average_Difficulty }}</span>
                            <div class="ml-4 flex-grow">
                                <div class="relative pt-1">
                                    <div class="flex mb-2 items-center justify-between">
                            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-900">
                                0.0
                            </span>
                                        <span class="text-xs font-semibold inline-block text-green-900">
                                4.0
                            </span>
                                    </div>
                                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
                                        <div class="relative flex-grow overflow-hidden h-2 text-xs bg-gray-200 rounded">
                                            <div class="absolute inset-0 bg-green-500"
                                                 style="width: {% widthratio AllEvalRecs.Average_Difficulty 4 100 %}%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bigsky Usage -->
                        <div class="mb-2 flex justify-start items-center">
                            <b class="w-32 text-nowrap mt-5">BIGSKY USE:</b>
                            <span
                                    class="
                                            text-xs font-bold mt-5 px-1 py-1 rounded-sm
                                            {% if AllEvalRecs.Average_BSUsage < 1 %}bg-red-600 text-white
                                            {% elif AllEvalRecs.Average_BSUsage >= 1 and AllEvalRecs.Average_BSUsage < 2 %}bg-orange-500 text-white
                                            {% elif AllEvalRecs.Average_BSUsage >= 2 and AllEvalRecs.Average_BSUsage < 3 %}bg-yellow-500
                                            {% elif AllEvalRecs.Average_BSUsage >= 3 and AllEvalRecs.Average_BSUsage < 4 %}bg-green-300
                                            {% elif AllEvalRecs.Average_BSUsage >= 4 %}bg-emerald-700 text-white
                                            {% endif %}
                                        ">{{ AllEvalRecs.Average_BSUsage }}
                                    </span>
                            <div class="ml-4 flex-grow">
                                <div class="relative pt-1">
                                    <div class="flex mb-2 items-center justify-between">
                            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-900">
                                0.0
                            </span>
                                        <span class="text-xs font-semibold inline-block text-green-900">
                                4.0
                            </span>
                                    </div>
                                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
                                        <div class="relative flex-grow overflow-hidden h-2 text-xs bg-gray-200 rounded">
                                            <div class="absolute inset-0 bg-green-500"
                                                 style="width: {% widthratio AllEvalRecs.Average_BSUsage 4 100 %}%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Attendance -->
                        <div class="mb-2 flex justify-start items-center">
                            <b class="w-32 mt-5">ATTENDANCE:</b>
                            <span
                                    class="
                                            text-xs font-bold mt-5 px-1 py-1 rounded-sm
                                            {% if AllEvalRecs.Average_Attendance < 1 %}bg-red-600 text-white
                                            {% elif AllEvalRecs.Average_Attendance >= 1 and AllEvalRecs.Average_Attendance < 2 %}bg-orange-500 text-white
                                            {% elif AllEvalRecs.Average_Attendance >= 2 and AllEvalRecs.Average_Attendance < 3 %}bg-yellow-500
                                            {% elif AllEvalRecs.Average_Attendance >= 3 and AllEvalRecs.Average_Attendance < 4 %}bg-green-300
                                            {% elif AllEvalRecs.Average_Attendance >= 4 %}bg-emerald-700 text-white
                                            {% endif %}
                                        ">{{ AllEvalRecs.Average_Attendance }}</span>
                            <div class="ml-4 flex-grow">
                                <div class="relative pt-1">
                                    <div class="flex mb-2 items-center justify-between">
                            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-900">
                                0.0
                            </span>
                                        <span class="text-xs font-semibold inline-block text-green-900">
                                4.0
                            </span>
                                    </div>
                                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
                                        <div class="relative flex-grow overflow-hidden h-2 text-xs bg-gray-200 rounded">
                                            <div class="absolute inset-0 bg-green-500"
                                                 style="width: {% widthratio AllEvalRecs.Average_Attendance 4 100 %}%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Grade Given -->
                        <div class="mb-2 flex justify-start items-center">
                            <b class="w-32 text-nowrap mt-5">GRADE GIVEN:</b>
                            <span
                                    class="
                                            text-xs font-bold mt-5 px-1 py-1 rounded-sm
                                            {% if AllEvalRecs.Average_Grades < 1 %}bg-red-600 text-white
                                            {% elif AllEvalRecs.Average_Grades >= 1 and AllEvalRecs.Average_Grades < 2 %}bg-orange-500 text-white
                                            {% elif AllEvalRecs.Average_Grades >= 2 and AllEvalRecs.Average_Grades < 3 %}bg-yellow-500
                                            {% elif AllEvalRecs.Average_Grades >= 3 and AllEvalRecs.Average_Grades < 4 %}bg-green-300
                                            {% elif AllEvalRecs.Average_Grades >= 4 %}bg-emerald-700 text-white
                                            {% endif %}
                                        ">{{ AllEvalRecs.Average_Grades }}
                                    </span>
                            <div class="ml-4 flex-grow">
                                <div class="relative pt-1">
                                    <div class="flex mb-2 items-center justify-between">
                            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-900">
                                0.0
                            </span>
                                        <span class="text-xs font-semibold inline-block text-green-900">
                                4.0
                            </span>
                                    </div>
                                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
                                        <div class="relative flex-grow overflow-hidden h-2 text-xs bg-gray-200 rounded">
                                            <div class="absolute inset-0 bg-green-500"
                                                 style="width: {% widthratio AllEvalRecs.Average_Grades 4 100 %}%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="flex justify-start items-center">
                                <b class="ml-9">RETAKE AVERAGE:</b> <span class="ml-2">{{ Average_Retake }}</span>
                                <b class="ml-9">TOTAL EVALS RECEIVED:</b> <span class="ml-2">{{ TotalNumEvals }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2">
                    <div class="flex justify-center mt-32">
                        <div class="">
                            <div class="
                                px-5 py-10 mr-16 rounded-lg text-center
                                {% if AllEvalRecs.Average_Rate < 1 %}bg-red-600 text-white
                                {% elif AllEvalRecs.Average_Rate >= 1 and AllEvalRecs.Average_Rate < 2 %}bg-orange-500 text-white
                                {% elif AllEvalRecs.Average_Rate >= 2 and AllEvalRecs.Average_Rate < 3 %}bg-yellow-500
                                {% elif AllEvalRecs.Average_Rate >= 3 and AllEvalRecs.Average_Rate < 4 %}bg-green-300
                                {% elif AllEvalRecs.Average_Rate >= 4 %}bg-emerald-700 text-white
                                {% endif %}
                            ">
                                <span class="text-5xl">{{ AllEvalRecs.Average_Rate }}</span>
                                <div class="font-bold">Overall Rating</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {# YOUR EVALUATIONS #}
            <h1 class="text-4xl font-bold text-green-900 mb-3">Your Evaluations</h1>
            <div>
                <div class="grid grid-cols-10 mt-3">
                    <div class="col-span-2 text-green-700 font-semibold">course code</div>
                    <div class="col-span-3 text-green-700 font-semibold">course name</div>
                    <div class="col-span-2 text-green-700 font-semibold ml-2">action</div>
                </div>
                <div class="grid grid-cols-10">
                    {% for AddRec in AddRec %}
                        <div class="col-span-2">{{ AddRec.CourseID.CourseCode }}</div>
                        <div class="col-span-3">{{ AddRec.CourseID.CourseName }}</div>
                        <div class="col-span-5 ml-2">
                            <a class="text-sm ml-1 px-2 py-1 rounded-md bg-green-700 text-white" href="{% url 'EvaluateTeacher' prof.id %}">Add</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="grid grid-cols-10">
                    {% for EditRec in EditRec %}
                        <div class="col-span-2">{{ EditRec.CourseID.CourseCode }}</div>
                        <div class="col-span-3">{{ EditRec.CourseID.CourseName }}</div>
                        <div class="col-span-5 ml-2">
                            <a class="text-sm ml-1 px-2 py-1 rounded-md bg-green-700 text-white" href="{% url 'EditEval' EditRec.id %}">Edit</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# SORTING #}
            <div class="mt-8">
                <h1 class="text-4xl font-bold text-green-900 mb-3">Other Ratings</h1>
                <form action="{% url 'TeacherInfo' prof.id %}" method="POST">
                    {% csrf_token %}
                    <span class="font-semibold text-lg mr-1">Year posted</span>
                    <select class="border-black border-[0.5px] rounded mr-2.5" name="Type" id="Type">
                        <option value="Year" {% if type == "Year" %} selected {% endif %}>Year</option>
                        <option value="Term" {% if type == "Term" %} selected {% endif %}>Term</option>
                        <option value="ClassModality" {% if type == "ClassModality" %} selected {% endif %}>Class Modality</option>
                        <option value="OverallProfRate" {% if type == "OverallProfRate" %} selected {% endif %}>Overall Prof Rate</option>
                        <option value="ProfDifficulty" {% if type == "ProfDifficulty" %} selected {% endif %}>Prof Difficulty</option>
                        <option value="RetakeProf" {% if type == "RetakeProf" %} selected {% endif %}>Retake Prof</option>
                        <option value="BigSkyUsageRate" {% if type == "BigSkyUsageRate" %} selected {% endif %}>Big Sky Usage Rate</option>
                        <option value="ProfAttendance" {% if type == "ProfAttendance" %} selected {% endif %}>Prof Attendance</option>
                        <option value="GradeReceived" {% if type == "GradeReceived" %} selected {% endif %}>Grade Received</option>
                        <option value="DateAdded" {% if type == "DateAdded" %} selected {% endif %}>Date Added</option>
                    </select>

                    <span class="font-semibold text-lg mr-1">Arrange</span>
                    <select class="border-black border-[0.5px] rounded mr-2.5" name="Arrange" id="Arrange">
                        <option value="Asc" {% if arrange == "Asc" %} selected {% endif %}>Ascending</option>
                        <option value="Desc" {% if arrange == "Desc" %} selected {% endif %}>Descending</option>
                    </select>
                    <button type="submit" class="buttonGreen px-2 py-1 text-white text-sm">Submit</button>
                </form>
            </div>


            {# OTHER RATINGS #}
            <div class="overflow-x-scroll mt-3 scrollbar-color: transparent ">
                <div class="flex space-x-4 bg-gray-100">
                    {% for eval in AllStudentEvals %}
                        <div class="bg-gray-200 shadow-md m-3 min-w-[370px] p-5 rounded">
                            <div class="grid grid-cols-2">
                                <div>Overall Rating:</div>
                                <div class="flex justify-end items-start">{{ eval.OverallProfRate }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Prof Difficulty:</div>
                                <div class="flex justify-end items-start">{{ eval.ProfDifficulty }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Grade Received:</div>
                                <div class="flex justify-end items-start">{{ eval.GradeReceived }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Course Code:</div>
                                <div class="flex justify-end items-start">{{ eval.CourseID.CourseCode }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Year:</div>
                                <div class="flex justify-end items-start">{{ eval.Year }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Term:</div>
                                <div class="flex justify-end items-start">{{ eval.Term }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Class Modality:</div>
                                <div class="flex justify-end items-start">{{ eval.ClassModality }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Big Sky Usage Rate:</div>
                                <div class="flex justify-end items-start">{{ eval.BigSkyUsageRate }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Prof Attendance:</div>
                                <div class="flex justify-end items-start">{{ eval.ProfAttendance }}</div>
                            </div>

                            <div class="grid grid-cols-2">
                                <div>Would Retake:</div>
                                <div class="flex justify-end items-start">
                                    {% if eval.RetakeProf %}
                                        <span>Yes</span>
                                    {% else %}
                                        <span>No</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="overflow-y-scroll mt-3 mb-2 bg-gray-200 max-h-14">
                                {% for tag in AllEvalTags %}
                                    {% if tag.EvaluationID.id == eval.id %}
                                        <div class="inline-block text-[8px] bg-emerald-800 text-white font-semibold px-3 py-1 rounded-full shadow-md">{{ tag.TagID.TagName }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="text-green-800 mt-3">Date Added: {{ eval.DateAdded }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}